/* CSS declarations go here */

body {
    background-color: #fff3cc;
    font-family: sans-serif;
}

.label {
    width: 100px;
}

#table {
    width: 1400px;
}

.row {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

input {
    width: 80px;
    height: 34px;
    background-color: lightgreen;
    transition: box-shadow .25s;
    border-radius: 7px;
    padding: 0 5px;
    border-color: #3b5998;
    border-style: solid;
    box-shadow: 0 0 5px lightgreen;
}

.output {
    background: lightgreen;
    background: linear-gradient(to right, #a2db95, #24ccaa);
    border-radius: 30px;
    padding: 0px 10px 0px;
    min-height: 34px;
    min-width: 40px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    color: #f2f2f2;
    border-style: solid;
    border-width:thin;
    border-color:gray;
}

.row-div {
    display: inline-block;
}

.header {
    display: inline;
    color: black;
}

#headers {
    width: 1000px;
    position: relative;
    left: 400px;
}

.output-1 {
    margin: 0 90px;
}

.output-2 {
    margin: 0 65px;
}

.output-3 {
    margin: 0 80px;
}

.output-4 {
    margin: 2 70px;
}
